*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background: white url("images/heart.png");
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    margin-left: 200px;
    text-align: center;
    flex: 100;
    width: calc(100% - 200px);   /* заняли оставшуюся ширину */
}

header h1 {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
}

.side-menu {
    background-color: #000;
    color: black;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.side-menu ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.side-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.side-menu ul li a:hover {
  color: yellow;
  text-decoration: solid;
}

main {
    display: flex;
    padding: 50px;
    margin-left: 200px;
    text-align: left;
    width: calc(100% - 200px);   /* заняли оставшуюся ширину */
}

.gif-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 200px;                 /* привязали к правой части после меню */
    width: calc(100% - 200px);   /* заняли оставшуюся ширину */
    height: 50px;

    margin-left: 0;              /* убрать */
    text-align: center;
}
